.mk-icon-button {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 11px;
  overflow: hidden;
  color: var(--mk-icon-button-text-color);
  background: none;
  border: none;
  border-radius: var(--mk-border-radius-circle);
}

.mk-icon-button:disabled {
  color: var(--mk-icon-button-text-color-disabled);
}

.mk-icon-button:hover:not(:disabled) {
  background-color: var(--mk-button-bg-color-hover);
}

.mk-icon-button:active:not(:disabled) {
  background-color: var(--mk-button-bg-color-active);
}
