.mk-light-theme {
  /* Palette */
  --mk-brand-color: #2f3136;
  --mk-accent-color: var(--mk-brand-color);
  --mk-warning-color: #ffeb3b;
  --mk-danger-color: #f44336;

  /* Body */
  --mk-body-bg-color: #fff;

  /* Button */
  --mk-button-text-color: var(--mk-brand-color);
  --mk-button-text-color-disabled: var(--mk-dark-38);
  --mk-button-bg-color-hover: rgb(0 0 0 / 6%);
  --mk-button-bg-color-active: rgb(0 0 0 / 12%);
  --mk-button-filled-text-color: var(--mk-font-inverse-primary-color);
  --mk-button-filled-text-color-disabled: var(--mk-dark-38);
  --mk-button-filled-bg-color: var(--mk-brand-color);
  --mk-button-filled-bg-color-disabled: var(--mk-dark-12);

  /* Border */
  --mk-border-color: var(--mk-dark-12);

  /* Card */
  --mk-card-bg-color: #f3f2f1;

  /* Icon Button */
  --mk-icon-button-text-color: var(--mk-font-secondary-color);
  --mk-icon-button-text-color-disabled: var(--mk-dark-38);
  --mk-icon-button-bg-color-hover: rgb(0 0 0 / 6%);
  --mk-icon-button-bg-color-active: rgb(0 0 0 / 12%);

  /* Input */
  --mk-input-text-color-disabled: var(--mk-dark-38);
  --mk-input-bg-color: #fff;
  --mk-input-bg-color-disabled: var(--mk-dark-12);
  --mk-input-placeholder-text-color: var(--mk-dark-38);

  /* Search Field */
  --mk-search-field-text-color-disabled: var(--mk-dark-38);
  --mk-search-field-bg-color: #f3f2f1;
  --mk-search-field-bg-color-disabled: var(--mk-dark-12);
  --mk-search-field-placeholder-text-color: var(--mk-dark-38);

  /* Top App Bar */
  --mk-top-app-bar-bg-color: #fff;

  /* Typography */
  --mk-font-primary-color: var(--mk-dark-87);
  --mk-font-secondary-color: var(--mk-dark-60);
  --mk-font-inverse-primary-color: var(--mk-light-100);
  --mk-font-inverse-secondary-color: var(--mk-light-70);
}
