.mk-light-theme {
  /* Palette */
  --mk-brand-color: #2f3136;
  --mk-accent-color: var(--mk-brand-color);
  --mk-warning-color: #ffeb3b;
  --mk-danger-color: #f44336;

  /* Body */
  --mk-body-bg-color: #fff;

  /* Button */
  --mk-button-text-color: var(--mk-brand-color);
  --mk-button-hover-bg-color: rgb(0 0 0 / 6%);
  --mk-button-active-bg-color: rgb(0 0 0 / 12%);
  --mk-button-filled-bg-color: var(--mk-brand-color);
  --mk-button-filled-hover-bg-color: rgb(255 255 255 / 12%);
  --mk-button-filled-active-bg-color: rgb(255 255 255 / 18%);
  --mk-button-filled-text-color: var(--mk-font-inverse-primary-color);

  /* Card */
  --mk-card-bg-color: #f3f2f1;

  /* Icon Button */
  --mk-icon-button-text-color: var(--mk-font-secondary-color);
  --mk-icon-button-hover-bg-color: rgb(0 0 0 / 6%);
  --mk-icon-button-active-bg-color: rgb(0 0 0 / 12%);

  /* Top App Bar */
  --mk-top-app-bar-bg-color: #fff;

  /* Typography */
  --mk-font-primary-color: var(--mk-dark-87);
  --mk-font-secondary-color: var(--mk-dark-60);
  --mk-font-inverse-primary-color: var(--mk-light-100);
  --mk-font-inverse-secondary-color: var(--mk-light-70);
}
